In [1]:
#From Github
# Credits: https://medium.com/towards-entrepreneurship/importing-a-csv-file-from-github-in-a-jupyter-notebook-e2c28e7e74a5
import pandas as pd
import requests
import io

url = "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv" # Make sure the url is the raw version of the file on GitHub

download = requests.get(url).content

# Reading the downloaded content and turning it into a pandas dataframe

df = pd.read_csv(io.StringIO(download.decode('utf-8')))

# Printing out the first 5 rows of the dataframe

print (df.head())

  iso_code continent     location        date  total_cases  new_cases  \
0      AFG      Asia  Afghanistan  2020-02-24          5.0        5.0
1      AFG      Asia  Afghanistan  2020-02-25          5.0        0.0
2      AFG      Asia  Afghanistan  2020-02-26          5.0        0.0
3      AFG      Asia  Afghanistan  2020-02-27          5.0        0.0
4      AFG      Asia  Afghanistan  2020-02-28          5.0        0.0

   new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
0                 NaN           NaN         NaN                  NaN  ...
1                 NaN           NaN         NaN                  NaN  ...
2                 NaN           NaN         NaN                  NaN  ...
3                 NaN           NaN         NaN                  NaN  ...
4                 NaN           NaN         NaN                  NaN  ...

   male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
0           NaN                  37.746                         0.5
1           NaN                  37.746                         0.5
2           NaN                  37.746                         0.5
3           NaN                  37.746                         0.5
4           NaN                  37.746                         0.5

   life_expectancy  human_development_index  population  \
0            64.83                    0.511  41128772.0
1            64.83                    0.511  41128772.0
2            64.83                    0.511  41128772.0
3            64.83                    0.511  41128772.0
4            64.83                    0.511  41128772.0

   excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
0                                   NaN                          NaN
1                                   NaN                          NaN
2                                   NaN                          NaN
3                                   NaN                          NaN
4                                   NaN                          NaN

   excess_mortality  excess_mortality_cumulative_per_million
0               NaN                                      NaN
1               NaN                                      NaN
2               NaN                                      NaN
3               NaN                                      NaN
4               NaN                                      NaN

[5 rows x 67 columns]

In [3]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [5]:
df.shape

(261499, 67)

In [6]:
df1=df[['date','location','total_cases']]

In [8]:
df1.shape

(261499, 3)

In [10]:
df1.loc[df1["date"] == "2023-02-28"]

              date           location  total_cases
1100    2023-02-28        Afghanistan     209322.0
2215    2023-02-28             Africa   12518681.0
3318    2023-02-28            Albania     334391.0
4421    2023-02-28            Algeria     271441.0
5518    2023-02-28            Andorra      47866.0
...            ...                ...          ...
257139  2023-02-28  Wallis and Futuna       3427.0
258277  2023-02-28              World  675215217.0
259335  2023-02-28              Yemen      11945.0
260416  2023-02-28             Zambia     343012.0
261495  2023-02-28           Zimbabwe     263921.0

[234 rows x 3 columns]

In [21]:
 tot_cases_by_loc = df1.groupby("location")["total_cases"].sum()

In [18]:
tot_cases_by_loc

location
Afghanistan       1.287320e+08
Africa            7.623267e+09
Albania           1.835560e+08
Algeria           1.811127e+08
Andorra           2.426024e+07
                      ...
Western Sahara    0.000000e+00
World             3.128148e+11
Yemen             7.807765e+06
Zambia            1.938949e+08
Zimbabwe          1.388002e+08
Name: total_cases, Length: 248, dtype: float64

In [22]:
display(df1.dtypes)

date            object
location        object
total_cases    float64
dtype: object

In [30]:
pd.options.display.float_format = '{:.0f}'.format #convert float to numericals so that scientific notations are removed.

In [31]:
tot_cases_by_loc

location
Afghanistan         128731966
Africa             7623267266
Albania             183556046
Algeria             181112747
Andorra              24260245
                     ...
Western Sahara              0
World            312814778488
Yemen                 7807765
Zambia              193894929
Zimbabwe            138800226
Name: total_cases, Length: 248, dtype: float64

In [37]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
print(tot_cases_by_loc)

location
Afghanistan                           128731966
Africa                               7623267266
Albania                               183556046
Algeria                               181112747
Andorra                                24260245
Angola                                 59393519
Anguilla                                1561112
Antigua and Barbuda                     4255619
Argentina                            5565214843
Armenia                               282809431
Aruba                                  21781989
Asia                                91946022409
Australia                            3440537751
Austria                              2174770195
Azerbaijan                            488574101
Bahamas                                21277199
Bahrain                               353048598
Bangladesh                           1297140623
Barbados                               39008467
Belarus                               587686875
Belgium                              2252119309
Belize                                 33750385
Benin                                  16735473
Bermuda                                 7847970
Bhutan                                 21954061
Bolivia                               598548378
Bonaire Sint Eustatius and Saba         4866986
Bosnia and Herzegovina                245163188
Botswana                              169177533
Brazil                              20960223964
British Virgin Islands                  3398665
Brunei                                 78594298
Bulgaria                              675827762
Burkina Faso                           14419987
Burundi                                22827323
Cambodia                               78583855
Cameroon                               82621196
Canada                               2234009310
Cape Verde                             37157625
Cayman Islands                         11782901
Central African Republic               10250570
Chad                                    5159259
Chile                                2321764047
China                                 484889883
Colombia                             4176678001
Comoros                                 5075183
Congo                                  15998814
Cook Islands                            2058783
Costa Rica                            569883151
Cote d'Ivoire                          57511600
Croatia                               640091357
Cuba                                  619517748
Curacao                                23044416
Cyprus                                249902896
Czechia                              2411454269
Democratic Republic of Congo           56225372
Denmark                              1421367078
Djibouti                               11735795
Dominica                                6532508
Dominican Republic                    395999558
Ecuador                               577807655
Egypt                                 331506563
El Salvador                           112356348
England                                       0
Equatorial Guinea                      11344800
Eritrea                                 6174268
Estonia                               287314581
Eswatini                               42535115
Ethiopia                              318252903
Europe                             108187606259
European Union                      76938478766
Faeroe Islands                         14487877
Falkland Islands                         593250
Fiji                                   36381054
Finland                               520276597
France                              15794227707
French Polynesia                       42056674
Gabon                                  31274139
Gambia                                  8350052
Georgia                               887773885
Germany                             13456689267
Ghana                                 116754576
Gibraltar                               9803886
Greece                               1931392044
Greenland                               5094308
Grenada                                 8025196
Guam                                          0
Guatemala                             571273657
Guernsey                                      0
Guinea                                 26852101
Guinea-Bissau                           5735598
Guyana                                 36972057
Haiti                                  21965614
High income                        177453877906
Honduras                              299837245
Hong Kong                             646073242
Hungary                              1129734739
Iceland                                81104598
India                               28862980773
Indonesia                            3651981493
International                            801359
Iran                                 4566996046
Iraq                                 1594283192
Ireland                               790853558
Isle of Man                            16013489
Israel                               2193156639
Italy                                9929540618
Jamaica                                81673684
Japan                                7138439148
Jersey                                        0
Jordan                                980748404
Kazakhstan                            855960325
Kenya                                 219258273
Kiribati                                1366460
Kosovo                                151052311
Kuwait                                409238236
Kyrgyzstan                            144794967
Laos                                   90938529
Latvia                                406157313
Lebanon                               688370270
Lesotho                                19785934
Liberia                                 4976319
Libya                                 305805660
Liechtenstein                           8842592
Lithuania                             600429303
Low income                           1382894995
Lower middle income                 56781956936
Luxembourg                            139772175
Macao                                    422823
Madagascar                             43736179
Malawi                                 54134164
Malaysia                             2343910323
Maldives                               98411100
Mali                                   19066964
Malta                                  55264922
Marshall Islands                        3041371
Mauritania                             36925794
Mauritius                             103216093
Mexico                               3899258282
Micronesia (country)                    3929490
Moldova                               339023679
Monaco                                  6623836
Mongolia                              481669305
Montenegro                            151626778
Montserrat                               406044
Morocco                               795320677
Mozambique                            135486536
Myanmar                               370864564
Namibia                               103750994
Nauru                                   1153430
Nepal                                 647530004
Netherlands                          4007898879
New Caledonia                          28611835
New Zealand                           574319490
Nicaragua                              10017415
Niger                                   6256915
Nigeria                               186700536
Niue                                          0
North America                       62860380973
North Korea                                 294
North Macedonia                       200317270
Northern Cyprus                               0
Northern Ireland                              0
Northern Mariana Islands                      0
Norway                                638014762
Oceania                              4182357434
Oman                                  271064755
Pakistan                             1070308930
Palau                                   2038325
Palestine                             408324328
Panama                                552278339
Papua New Guinea                       24715115
Paraguay                              429678143
Peru                                 2472490380
Philippines                          2257173963
Pitcairn                                      0
Poland                               3605058997
Portugal                             2372326760
Puerto Rico                                   0
Qatar                                 279424382
Romania                              1740806324
Russia                              10446292186
Rwanda                                 76903377
Saint Helena                             340859
Saint Kitts and Nevis                   2941548
Saint Lucia                            13803967
Saint Pierre and Miquelon               1140518
Saint Vincent and the Grenadines        4803341
Samoa                                   4865591
San Marino                             10043889
Sao Tome and Principe                   3715592
Saudi Arabia                          571261550
Scotland                                      0
Senegal                                59133584
Serbia                               1214647603
Seychelles                             23966219
Sierra Leone                            5614996
Singapore                             710155474
Sint Maarten (Dutch part)                     0
Slovakia                             1338410142
Slovenia                              563317352
Solomon Islands                         7622758
Somalia                                17700069
South Africa                         2588704102
South America                       38014342788
South Korea                          8284368146
South Sudan                            11857910
Spain                                6988652574
Sri Lanka                             390325287
Sudan                                  42554087
Suriname                               43787482
Sweden                               1454822048
Switzerland                          1886501401
Syria                                  34864415
Taiwan                               1906554638
Tajikistan                             15162545
Tanzania                               18916471
Thailand                             2067289239
Timor                                  13278711
Togo                                   22495855
Tokelau                                       0
Tonga                                   4874380
Trinidad and Tobago                    82500924
Tunisia                               637501019
Turkey                               8738486367
Turkmenistan                                  0
Turks and Caicos Islands                3615105
Tuvalu                                   306071
Uganda                                102564822
Ukraine                              3156382944
United Arab Emirates                  647237071
United Kingdom                      11877655405
United States                       53190871454
United States Virgin Islands                  0
Upper middle income                 77183484798
Uruguay                               492718262
Uzbekistan                            158634963
Vanuatu                                 3710547
Vatican                                   26633
Venezuela                             337866326
Vietnam                              4245429502
Wales                                         0
Wallis and Futuna                        768309
Western Sahara                                0
World                              312814778488
Yemen                                   7807765
Zambia                                193894929
Zimbabwe                              138800226
Name: total_cases, dtype: float64