# Problem Statement: Applying filter for individual rows becomes difficult as the condition is applied on the whole column.

In [2]:
import pandas as pd

I created a sample dataset in excel with two columns as below generating random account numbers and dates using randbetween. Imported it into df

In [3]:
df= pd.read_excel("C:/Users/Shantanu/Documents/DataScience_Projects/LearningPython/dummies.xlsx")

In [4]:
df

       Acc_No      Dates
0   968929630 2022-05-22
1   986203607 2022-05-29
2   957071052 2022-06-05
3   954224199 2022-06-12
4   926183315 2022-06-19
5   983366274 2022-06-26
6   943353386 2022-07-03
7   993098666 2022-07-10
8   936372690 2022-07-17
9   916937847 2022-07-24
10  954066864 2022-07-31
11  998370973 2022-08-07
12  925329241 2022-08-14
13  917165841 2022-08-21
14  983996183 2022-08-28
15  921580453 2022-09-04
16  958649985 2022-09-11
17  992655260 2022-09-18
18  959443207 2022-09-25

Creating Dummy Variables in df_dummy and then combining with the main dataframe

In [5]:
df_dummy=pd.get_dummies(df['Dates'])

In [6]:
df_dummy

,2022-05-22,2022-05-29,2022-06-05,2022-06-12,2022-06-19,2022-06-26,2022-07-03,2022-07-10,2022-07-17,2022-07-24,2022-07-31,2022-08-07,2022-08-14,2022-08-21,2022-08-28,2022-09-04,2022-09-11,2022-09-18,2022-09-25
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
18,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [11]:
df_final=pd.concat([df,df_dummy],axis=1)

In [12]:
df_final

,Acc_No,Dates,2022-05-22 00:00:00,2022-05-29 00:00:00,2022-06-05 00:00:00,2022-06-12 00:00:00,2022-06-19 00:00:00,2022-06-26 00:00:00,2022-07-03 00:00:00,2022-07-10 00:00:00,...,2022-07-24 00:00:00,2022-07-31 00:00:00,2022-08-07 00:00:00,2022-08-14 00:00:00,2022-08-21 00:00:00,2022-08-28 00:00:00,2022-09-04 00:00:00,2022-09-11 00:00:00,2022-09-18 00:00:00,2022-09-25 00:00:00
0,968929630,2022-05-22,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,986203607,2022-05-29,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,957071052,2022-06-05,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,954224199,2022-06-12,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,926183315,2022-06-19,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,983366274,2022-06-26,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,943353386,2022-07-03,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7,993098666,2022-07-10,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,936372690,2022-07-17,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,916937847,2022-07-24,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
10,954066864,2022-07-31,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
11,998370973,2022-08-07,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
12,925329241,2022-08-14,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
13,917165841,2022-08-21,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
14,983996183,2022-08-28,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15,921580453,2022-09-04,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
16,958649985,2022-09-11,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
17,992655260,2022-09-18,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
18,959443207,2022-09-25,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

Now date condition can be applied directly. Since each date has its own column and is flagged as 1 wherever applicable